In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv(r'C:\Users\hi\Anaconda3\Projects\spam_ham_dataset.csv')

In [27]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [28]:
df.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [29]:
df.drop(columns=['Unnamed: 0','label_num'],inplace=True)

In [30]:
df.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [35]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [36]:

df['label'] = encoder.fit_transform(df['label'])

In [37]:
df.head()

   label                                               text
0      0  Subject: enron methanol ; meter # : 988291\r\n...
1      0  Subject: hpl nom for january 9 , 2001\r\n( see...
2      0  Subject: neon retreat\r\nho ho ho , we ' re ar...
3      1  Subject: photoshop , windows , office . cheap ...
4      0  Subject: re : indian springs\r\nthis deal is t...

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

In [47]:
cv=CountVectorizer()

In [48]:
x=df['text']
y=df['label']

In [49]:
x.shape

(5171,)

In [50]:
y.shape

(5171,)

In [51]:
x=cv.fit_transform(x)

In [52]:
x

<5171x50447 sparse matrix of type '<class 'numpy.int64'>'
	with 456145 stored elements in Compressed Sparse Row format>

1.The Cat
2.The Dog
3.The Bird

     The Cat Dog Bird
1.    1   1   0    0
2.    1   0   1    0 
3.    1   0   0    1

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)

In [77]:
x_train.shape

(4136, 50447)

In [78]:
from sklearn.naive_bayes import MultinomialNB

In [79]:
model=MultinomialNB()

In [80]:
model.fit(x_train, y_train)

MultinomialNB()

In [81]:
result=model.score(x_test, y_test)

In [82]:
result=result*100

In [83]:
result

98.35748792270532

In [84]:
import pickle

In [85]:
pickle.dump(model, open("spam_ham_dataset.pkl","wb"))

In [86]:
pickle.dump(cv, open("vectorizer.pkl","wb"))

In [87]:
clf=pickle.load(open("spam_ham_dataset.pkl","rb"))

In [92]:
clf

MultinomialNB()

In [93]:
msg="You win 10 Dollars"
df=[msg]
vect=cv.transform(df).toarray()
result=model.predict(vect)
print(result)

[1]